<% layout("/layouts/boilerplate.ejs") %>
<style>
.categories{
    border-radius: 15px;
    padding: 10px;
    margin-right: 3rem;
}
</style>
    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h1>Edit the info</h1>
                <br>
                <form method="POST" action="/listings/<%= list._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title">title :</label>
                        <input type="text" name="listing[title]" class="form-control" value="<%= list.title %>" required>
                        <div class="invalid-feedback">
                            Please enter a catchy title.
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="description">description :</label>
                        <textarea name="listing[description]" class="form-control" required><%=list.description %></textarea>
                    </div>
                       <div class="mb-3">
                        <P>preview : </P>
                        <img src="<%= originalImageUrl %>" alt="originalImageUrl">
                       </div>
                    <div class="mb-3">
                        <label for="image">url/link :</label>
                        <input type="file" class="form-control" name="listing[image]">
                        <div class="invalid-feedback">
                            Please upload new image
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price">price :</label>
                            <input type="number" name="listing[price]" class="form-control" value="<%=list.price %>" required>
                            <div class="invalid-feedback">
                                Please enter valid price.
                            </div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country">country :</label>
                            <input type="text" name="listing[country]" class="form-control" value="<%=list.country %>" required>
                            <div class="invalid-feedback">
                                Please enter your country
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location">location :</label>
                        <input type="text" name="listing[location]" class="form-control" value="<%= list.location %>" required>
                        <div class="invalid-feedback">
                            Please enter your location.
                        </div>
                    </div>

                     <select class="mb-3 categories" name="listing[category]">
            <option value="" selected disabled>select category</option>
            <% categories.forEach(category => { %>
                <option value="<%= category %>" ><%=category%></option>
            <% }) %>
            </select>


                    <button class="btn btn-dark edit-btn mt-3 mb-3">Edit</button>

                </form>
            </div>

        </div>
    </body>

    </html>